<!DOCTYPE html>
<html>
	{{ partial "header.html" . }}
	<body>
		{{ partial "head.html" . }}
		<main class="homeMain">
			<article class="homeArticle">
				{{ $pages := .Site.RegularPages }}
				{{ $filteredPages := where $pages "Params.hidden" "ne" true }}
				{{ range $filteredPages }}
				<section class="content">
					<time class="content-time">{{ dateFormat "2006.01.02 15:04" .Date }}</time>
					<h3 class="content-title"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
					{{ template "partials/pagedescription.html" . }}
					<br>
				</section>
				{{ end }}
				{{ partial "footer.html" . }}
			</article>
			<aside class="homeRightSide"></aside>
		</main>
	</body>
</html>